@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 99.11%;
    --foreground: 0 0% 20.46%;
    --card: 0 0% 99.11%;
    --card-foreground: 0 0% 20.46%;
    --popover: 0 0% 99.11%;
    --popover-foreground: 0 0% 43.86%;
    --primary: 161 65% 60%;
    --primary-foreground: 166 34% 18%;
    --secondary: 0 0% 99.4%;
    --secondary-foreground: 0 0% 20.46%;
    --muted: 0 0% 94.61%;
    --muted-foreground: 0 0% 24.35%;
    --accent: 0 0% 94.61%;
    --accent-foreground: 0 0% 24.35%;
    --destructive: 33 80% 55%;
    --destructive-foreground: 17 65% 97%;
    --border: 0 0% 90.37%;
    --input: 0 0% 97.31%;
    --ring: 161 65% 60%;
    --chart-1: 161 65% 60%;
    --chart-2: 260 58% 52%;
    --chart-3: 293 68% 49%;
    --chart-4: 70 65% 70%;
    --chart-5: 162 60% 63%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 99.11%;
    --sidebar-foreground: 0 0% 54.52%;
    --sidebar-primary: 161 65% 60%;
    --sidebar-primary-foreground: 166 34% 18%;
    --sidebar-accent: 0 0% 94.61%;
    --sidebar-accent-foreground: 0 0% 24.35%;
    --sidebar-border: 0 0% 90.37%;
    --sidebar-ring: 161 65% 60%;
  }

  .dark {
    --background: 0 0% 18.22%;
    --foreground: 256 60% 92%;
    --card: 0 0% 20.46%;
    --card-foreground: 256 60% 92%;
    --popover: 0 0% 26.03%;
    --popover-foreground: 0 0% 73.48%;
    --primary: 157 56% 48%;
    --primary-foreground: 167 55% 88%;
    --secondary: 0 0% 26.03%;
    --secondary-foreground: 0 0% 98.51%;
    --muted: 0 0% 23.93%;
    --muted-foreground: 0 0% 71.22%;
    --accent: 0 0% 31.32%;
    --accent-foreground: 0 0% 98.51%;
    --destructive: 30 42% 35%;
    --destructive-foreground: 34 45% 92%;
    --border: 0 0% 28.09%;
    --input: 0 0% 26.03%;
    --ring: 152 68% 68%;
    --chart-1: 152 68% 68%;
    --chart-2: 255 58% 65%;
    --chart-3: 294 62% 65%;
    --chart-4: 84 65% 75%;
    --chart-5: 182 60% 70%;
    --sidebar-background: 0 0% 18.22%;
    --sidebar-foreground: 0 0% 63.01%;
    --sidebar-primary: 157 56% 48%;
    --sidebar-primary-foreground: 167 55% 88%;
    --sidebar-accent: 0 0% 31.32%;
    --sidebar-accent-foreground: 0 0% 98.51%;
    --sidebar-border: 0 0% 28.09%;
    --sidebar-ring: 152 68% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    letter-spacing: 0.025em;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
